#############
## folders ##
#############
build
.vscode
left.yaml
right.yaml
left.launch
right.launch

#############
##  files  ##
#############
*.*~
*.*user.*
*.user
*.autosave
CATKIN_IGNORE
*.orig
*~
*.idea
*.pyc
